@font-face {font-family: "by-icon";
  src: url("by-icon.woff2?t=1564657970523") format("woff2"),
  url("by-icon.woff?t=1564657970523") format("woff"),
  url('by-icon.ttf?t=1564657970523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('by-icon.svg?t=1564657970523#by-icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'by-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before { content: "\ea01"; }


